@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Libre+Baskerville&family=Source+Sans+Pro&family=Vollkorn:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Newsreader:ital,opsz,wght@1,6..72,200&family=Poppins&family=Source+Serif+Pro:wght@600&display=swap');

*{
  /* background-color: #A0AECD; */
  background-color:  #BC999A;
  /* color: #CC313D; */
}
/* .navigation{
  background-color:#CC313D; 
  color: #F7C5CC;
} */
.about-me-section{
  font-family: 'Source Serif Pro', serif;
}
li{
  font-family: 'Poppins', sans-serif; 
}
.page-title{
  font-family: 'DM Serif Display', serif;
  justify-content: center;
}
.name-title{
  font-family: 'DM Serif Display', serif;
  font-size: 60px;
}
.portfolio-item {
  position: relative;
  opacity: 1;
}
h3{
  font-family: 'Source Serif Pro', serif;
  margin-left: 80px;
}
#links{
  font-family: 'Newsreader', serif;
  font-size: 30px;
  color: #F7C5CC;
  
}
.portfolio-item:hover {
  opacity: 0.5;
}

.card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 20px;
  color: #fff; 
  font-size: 18px;
  text-align: center;
  opacity: 0; 
  transition: visibility 0s, opacity 0.5s ease-in-out; 
}
.card:hover .card-text {
  visibility: visible;
  opacity: 1;
} 
.icon{
  color: #000;
}
.icon:hover{
  opacity: 0.5;
  color: #000;
}

/* Tablet styles */
@media (max-width: 1060px) {
  .page-title {
    font-size: 24px;
  }

  .about-me-section {
    font-size: 14px;
  }

  .card-text {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .page-title {
    font-size: 24px;
  }

  .about-me-section {
    font-size: 14px;
  }

  .card-text {
    font-size: 16px;
  }
}
.resume-link{
  text-decoration: none;
  color: #000;
}

/* Mobile styles */
@media (max-width: 576px) {
  .page-title {
    font-size: 20px;
  }

  .about-me-section {
    font-size: 12px;
    padding: 10px;
  }

  .card-text {
    font-size: 14px;
    padding: 10px;
  }
}